/* リセット */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* 全体背景 */
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background: #000000;
  color: rgb(255, 255, 255);
}

/* 画面ラッパー */
.app {
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
}



/* タイトル */
.title {
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 50px;
}

/* 要素間の自動余白（神テク） */
.app > * + * {
  margin-top: 20px;
}
